$color_highlight: #0652dd;
$color_dark: #2e3238;
$color_header: $color_dark + 5;
$color_background: #fff;
$header_height: 60px;

$content_width: 1020px;

$phone-screen: "screen and (max-width: 760px)";
$tablet-screen: "screen and (max-width: 980px)";

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -webkit-appearance: none;
}

html,
body {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  background-color: $color_background;
}
body {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: $header_height + 15px;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial,
    "Microsoft Yahei", "Wenquanyi Micro Hei", sans-serif;
  cursor: default;
  -webkit-font-smoothing: antialiased;
}
input,
button {
  outline: none;
}

.container {
  width: $content_width;
  max-width: 100%;
  margin: {
    right: auto;
    bottom: 20px;
    left: auto;
  }
  padding: 40px 0 50px 0;
  background-color: #fff;
  border-radius: 10px;
  // box-shadow: 0 10px 20px rgba(#000, .05);
  &.blog-body {
    flex: 1;
  }
}

.blured-backdrop-light {
  background-color: #fff;
}
.blured-backdrop-dark {
  background-color: #333;
}

.backdrop-filter-supported {
  .blured-backdrop-light {
    background-color: rgba(#fff, 0.8);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

  .blured-backdrop-dark {
    background-color: rgba(#000, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}

.hairline-supported .hariline {
  border-width: 0.5px;
}

.clearfix {
  overflow: hidden;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.fade-image {
  opacity: 0;
  transition: 0.4s;
  transform: translate3d(0, 20px, 0) scale(0.95);

  &.loaded {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media #{$tablet-screen} {
  .container {
    width: auto;
    margin: 0 30px;
    padding-top: 50px;
    box-shadow: none;
  }
}

@media #{$phone-screen} {
  body {
    padding-top: 40px;
  }

  .container {
    margin: {
      right: 0;
      left: 0;
    }
    padding-bottom: 40px;
    border-radius: 0;
  }
}
