.blog-footer {
  background-color: #f8f9fa;
  .copy-right {
    color: #b1b5b9;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
  }
}
