.blog-header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: $header_height;
  box-shadow: inset 0 -0.5px 0 rgba(#000, 0.2), 0 5px 10px rgba(#000, 0.03);

  .logo {
    height: $header_height - 20;
    margin: 10px 0;
    padding: 0 30px;
    overflow: hidden;
    box-shadow: inset -0.5px 0 0 rgba(#000, 0.2);

    a,
    span {
      display: block;
      color: #333;
      font-size: 22px;
      font-weight: normal;
      line-height: $header_height - 20;
      text-decoration: none;
    }
    img {
      display: block;
      float: left;
      margin: 4px 10px 0 0;
      width: 30px;
      height: 30px;
      border-radius: 3px;
      box-shadow: 0 0 0 2px $color_highlight;
    }
  }

  .mobile-menu-trigger-input,
  .mobile-menu-trigger {
    display: none;
  }

  .menu {
    height: $header_height;
    margin-left: 50px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        float: left;
        margin-right: 50px;
        line-height: $header_height;
        &.current-menu-item {
          box-shadow: inset 0 -3px 0 $color_highlight;
          a {
            color: $color_highlight;
            &:hover {
              color: $color_highlight;
            }
          }
        }
        a {
          color: #333;
          font-size: 16px;
          text-decoration: none;
          text-transform: uppercase;
          &:hover {
            color: #222;
          }
        }
      }
    }
  }

  .searcher {
    position: relative;
    width: 200px;
    height: 34px;
    margin-top: ($header_height - 34) / 2;
    margin-right: 30px;
    overflow: hidden;

    form {
      display: block;
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 145px;
      height: 34px;
      padding: 0 40px 0 15px;
      background-color: transparent;
      border: none;
      color: #666;
      font-size: 14px;
      box-shadow: inset 0 0 0 0.5px rgba(#000, 0.2);
      border-radius: 17px;
      &:focus {
        box-shadow: inset 0 0 0 1px $color_highlight;
      }
      &::-webkit-input-placeholder {
        color: #999;
      }
    }

    label {
      position: absolute;
      top: 0;
      right: 5px;
      display: block;
      width: 36px;
      height: 36px;
      background: none;
      border: none;
      cursor: pointer;
      color: #999;
      text-align: center;
      font-size: 14px;
      line-height: 34px;
    }
  }

  .progress-bar {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0%;
    background-image: linear-gradient(to right, #e74c3c, #f1c40f, #2ecc71);
    background-size: 100vw 1px;
    pointer-events: none;
    transition: all 0.2s, opacity 0.3s;

    &.completed {
      opacity: 0;
    }
  }
}

@media #{$tablet-screen} {
  .blog-header {
    position: fixed;
    z-index: 50;
  }
}

@media #{$phone-screen} {
  .blog-header {
    height: 60px;
    perspective: 500px;
    .container {
      height: 60px;
      margin: 0;
    }

    .logo {
      position: absolute;
      top: 0;
      left: 50%;
      float: none;
      height: 60px;
      margin: 0;
      box-shadow: none;
      color: rgba(#000, 0.8);
      transform: translateX(-50%);

      a,
      span {
        display: block;
        height: 60px;
        font-size: 20px;
        font-style: normal;
        line-height: 64px;
      }
      img {
        width: 28px;
        height: 28px;
        margin-top: 18px;
        border-radius: 50%;
      }
    }

    .mobile-menu-trigger-input {
      display: block;
      position: absolute;
      opacity: 0;

      &:checked ~ .menu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }
    }

    .mobile-menu-trigger {
      position: relative;
      display: block;
      float: left;
      width: 60px;
      height: 60px;
      overflow: hidden;
      color: #666;
      font-size: 18px;
      text-align: center;
      line-height: 60px;
      span {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
      }
    }

    .menu {
      position: absolute;
      z-index: 51;
      top: 59px;
      left: 0;
      width: 100%;
      height: auto;
      margin: 0;
      background-color: #fff;
      opacity: 0;
      pointer-events: none;
      transform-origin: 50% 0%;
      transition: transform 0.5s, opacity 0.5s;
      transform: translateY(20px);
      ul {
        width: 100%;
        border-bottom: 0.5px solid rgba(#000, 0.1);
        li {
          display: block;
          float: none;
          height: 50px;
          margin: 0;
          padding: 0;
          border-top: 0.5px solid rgba(#000, 0.1);
          text-align: center;
          &.current-menu-item {
            box-shadow: none;
            a {
              font-weight: bolder;
            }
          }
          a {
            display: block;
            height: 50px;
            color: #333;
            line-height: 50px;
            font-weight: normal;
          }
        }
      }
    }

    .searcher {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: auto;
      height: 60px;
      margin-top: 0;
      overflow: visible;

      label {
        width: 60px;
        height: 60px;
        line-height: 60px;
      }

      input {
        box-sizing: border-box;
        z-index: 53;
        top: 0;
        right: 60px;
        width: 100vw;
        height: 60px;
        padding-left: 100px;
        transform: translate3d(0, -60px, 0);
      }
    }
  }
}
