.margox-lightbox{
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &.active{
    display: block;
  }

  .back-layer{
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  .list-wrap{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;

    .list{
      width: 100%;
      height: 100%;
      padding: 0;
      font-size: 0;
      white-space: nowrap;
      transition: transform .4s;

      &.touch-moving{
        transition: transform 0s;
      }

      li{
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: 0;
        background-image: url(../images/loading.gif);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 64px;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: scale-down;
        }
        span{
          display: none;
          position: absolute;
          z-index: 3;
        }
      }

    }

  }

  .btn-close,
  .btn-prev,
  .btn-next{
    position: absolute;
    z-index: 5;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(#000, .1);
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    line-height: 54px;
    transition: .4s;
    &:hover{
      background-color: $color_highlight;
      box-shadow: 0 5px 10px rgba($color_highlight, .1);
    }
  }

  &.no-prev .btn-prev{
    opacity: 0;
    transform: translate3d(-60px, 0, 0);
  }
  &.no-next .btn-next{
    opacity: 0;
    transform: translate3d(60px, 0, 0);
  }

  .btn-close{
    top: 5px;
    right: 5px;
    margin: 0;
  }

  .btn-prev{
    left: 5px;
  }
  .btn-next{
    right: 5px;
  }

  .index{
    position: absolute;
    z-index: 5;
    bottom: 20px;
    left: 50%;
    height: 24px;
    padding: 0 20px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    border-radius: 12px;
    transform: translate(-50%, 0);
  }

}

.touchable-screen{

  .btn-close,
  .btn-prev,
  .btn-next{
    display: none;
  }

}