.margox-audio-player {
  box-sizing: content-box;
  position: relative;
  height: 80px;
  padding: 16px;
  background-color: #f8f9fa;
  border: 0.5px solid rgba(#000, 0.1);

  .cover,
  .caption,
  .sub-caption,
  .progress {
    position: relative;
    z-index: 1;
  }

  .cover {
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
    background-color: #eee;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;

    .btn-play-pause {
      display: block;
      width: 80px;
      height: 80px;
      border: none;
      border-radius: 50%;
      text-decoration: none;
      background-color: rgba(#000, 0.3);
      &:hover {
        background-color: rgba(#000, 0.4);
      }

      i {
        display: block;
        width: 80px;
        height: 80px;
        color: #fff;
        font-size: 24px;
        line-height: 80px;
        text-align: center;

        &.icon-pause {
          display: none;
        }
      }

      &.playing {
        .icon-play {
          display: none;
        }

        .icon-pause {
          display: block;
        }
      }
    }
  }

  .caption,
  .sub-caption {
    margin: 0 0 0 96px;
    padding: 0;
    overflow: hidden;
  }

  .caption {
    margin-top: 8px;
    color: #333;
    font-size: 14px;
  }

  .sub-caption {
    transform-origin: 0 50%;
    transform: scale(0.9);
    color: #666;
    font-size: 12px;
    font-weight: normal;
  }

  .progress {
    margin: 5px 0 0 96px;
    overflow: hidden;

    span {
      height: 15px;
      color: #999;
      line-height: 16px;
      font-size: 12px;
      font-weight: bold;
    }

    .progress-bar {
      display: block;
      box-sizing: border-box;
      height: 4px;
      margin: 6px 45px;
      background-color: #e8e9ea;
      border-left: solid 0 $color_highlight;
      transition: 0.3s linear;
    }

    .played-time {
      float: left;
    }

    .total-time {
      float: right;
    }
  }
}

.markdown-body .margox-audio-player {
  box-sizing: content-box;
}
