.post-list {
  overflow: hidden;
}

@mixin post-metas {
  .metas {
    position: relative;
    height: 14px;
    color: #646464;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;

    a {
      color: #646464;
      text-decoration: none;

      &:hover {
        color: $color_highlight;
      }
    }

    .date::after,
    .categories::after {
      content: "/";
      padding: 0 5px;
    }
  }
}

.post {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 40px auto;
  padding-bottom: 40px;
  border-bottom: 0.5px dashed #e8e9ea;
}
.post-inner {
  width: 980px;
  max-width: 100%;
  margin: 0 auto;
}

.post-header {
  margin-bottom: 10px;

  .title {
    margin: 0;
    padding: 0;
    color: #444;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;

    a {
      color: #333;
      text-decoration: none;
      &:hover {
        color: $color_highlight;
      }
    }
  }

  @include post-metas;

  .metas {
    margin-top: 15px;
    padding-top: 15px;
    border-top: dashed 1px #f1f2f3 - 10;
  }
}

.single-post {
  .post-header {
    margin-bottom: 30px;

    .title {
      font-size: 36px;
      font-weight: normal;
      line-height: 40px;

      a {
        color: #333;
        text-decoration: none;
        &:hover {
          color: $color_highlight;
        }
      }
    }
  }
}

.post-featured-content {
  margin-top: 20px;

  .featured-image {
    display: block;
    overflow: hidden;
    background-color: #f5f5f5;

    img {
      display: block;
      max-width: 100%;
      height: 300px;
      object-fit: cover;
    }

    &:hover {
      img.loaded {
        opacity: 0.8;
      }
    }
  }
}

.post-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: -10px;
  padding: 0;
  overflow: hidden;

  li {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 25%;
    padding: 10px;
    overflow: hidden;

    a {
      position: relative;
      display: block;
      padding-bottom: 100%;
      overflow: hidden;
      background-color: #f5f5f5;

      img {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        img.loaded {
          opacity: 0.8;
        }
      }
    }
  }
}
.markdown-body .post-gallery {
  padding: 0;
}

.post-excerpt {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #666;
  font-size: 14px;
  line-height: 22px;

  p {
    margin: 0;
  }
}

.post-content {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #666;
  font-size: 16px;
  line-height: 180%;

  p:first-child {
    margin-top: 0;
  }
}

.post-excerpt:empty,
.post-content:empty {
  margin-top: 0;
  margin-bottom: 0;

  & ~ .post-footer {
    border-top: none;
  }
}

.post-footer {
  @include post-metas;
}

.post-pagers {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  text-align: center;

  &:empty {
    display: none;
  }

  b {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
  }

  a,
  span {
    display: block;
    box-sizing: border-box;
    min-width: 36px;
    height: 36px;
    margin: 0 10px;
    padding: 0 10px;
    color: #999;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    text-decoration: none;
    background-color: #f1f2f3;
    border-radius: 3px;
    i {
      font-size: 12px;
    }
  }

  a:hover {
    background-color: #e1e5e9;
  }

  .current {
    color: #fff;
    background-color: $color_highlight;
  }
}

.post-navs {
  margin-top: 40px;
  padding: 0;
  overflow: hidden;
  border-bottom: none;
  a {
    box-sizing: border-box;
    position: relative;
    display: block;
    float: left;
    width: 50%;
    height: 300px;
    padding: 90px 30px 0 30px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    &:hover .mask {
      opacity: 0.8;
    }
    &:only-child {
      float: none;
      width: 100%;
    }
    &:first-child .mask {
      background-color: rgba(#000, 0.7);
    }
    img {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .tip {
      position: relative;
      z-index: 2;
      display: inline-block;
      height: 36px;
      margin-bottom: 10px;
      padding: 0 15px;
      border: 1px solid rgba(#fff, 0.6);
      color: rgba(#fff, 0.6);
      font-size: 16px;
      font-weight: lighter;
      line-height: 36px;
    }
    .title {
      position: relative;
      z-index: 2;
      margin: 0;
      padding: 0;
      color: #fff;
      font-size: 24px;
      line-height: 32px;
    }
    .mask {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.6);
    }
  }
}

@media #{$tablet-screen} {
  .vudio-waveform-wrap {
    display: none;
  }

  .post {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 30px 20px 30px;
  }

  .post-navs {
    margin-top: 20px;
    a {
      float: none;
      width: 100%;
    }
  }
}

@media #{$phone-screen} {
  .post {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 20px 20px 20px;
  }

  .post-header .title {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
  }

  .single-post .post-header {
    margin-bottom: 0;
    .title {
      font-size: 26px;
      font-weight: bold;
      line-height: 32px;
    }
  }

  .post-featured-content {
    margin-top: 20px;
    .featured-image img {
      height: 110px;
    }
  }

  .post-gallery-wrap,
  .format-gallery .post-featured-content {
    height: 100px;
    margin: {
      right: -20px;
      left: -20px;
    }
    overflow: hidden;
  }

  .post-gallery-wrap {
    height: 100px;
    margin: 20px 0;
  }

  .post-gallery {
    display: block;
    height: 120px;
    margin: 0;
    padding: 0 15px;
    overflow: auto;
    font-size: 0;
    white-space: nowrap;

    li {
      display: inline-block;
      width: 100px;
      margin: 0 5px;
      padding: 0;
    }
  }
  .markdown-body .post-gallery {
    margin: 0;
    padding: 0 5px;
  }

  .post-excerpt,
  .post-content {
    margin: 15px 0;
  }

  .post-pagers {
    margin-top: 0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
    border: none;

    a,
    span {
      margin: 10px 5px;
    }
  }
}
